<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0">

<title>{{ page.title }} &ndash; Chem Caddy &ndash; A portable, battery powered sprayer that utilizes ready to use 1 gal and 5 gal solutions.</title>

<!-- Prefetch DNS for external assets (Twitter widgets etc). -->
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//themes.googleusercontent.com">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,600,300">
<link rel="stylesheet" href="/css/csswizardry.min.css">

<link rel="dns-prefetch" href="//cdn.adpacks.com">
<link rel="dns-prefetch" href="//s3.buysellads.com">
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="//s3.buysellads.com">
<link rel="dns-prefetch" href="//stats.buysellads.com">
<link rel="dns-prefetch" href="https://twitter.com">
<link rel="dns-prefetch" href="https://cdn.syndication.twimg.com">




<link rel="shortcut icon" href="/icon.png">
<link rel="apple-touch-icon-precomposed" href="/icon.png">
<meta name="apple-mobile-web-app-title" content="Chem Caddy">
<meta name="description" content="A portable, battery powered sprayer that utilizes ready to use 1 gal and 5 gal solutions. 100's of uses including spraying cleaners, acids, fertilizers, weed killers, bug spray, sealers etc... anything liquid.">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
